.containercolumn{
    display: grid !important;
    justify-content: center;
    grid-template-columns: 440px 440px 440px;
    margin: 30px 30px;
    grid-column-gap: 30px;
    --columnGap: 0 !important;
}

.columnind{
    width: 100% !important;
}

@media (min-width: 481px) and (max-width: 1199px){
    .containercolumn{
        --columnGap: 0 !important;
        display: block !important;
        margin: 0 auto !important;
    }

    .columnind{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
  }

@media (max-width: 480px){
    .containercolumn{
        --columnGap: 0 !important;
        display: grid !important;
        justify-content: center;
        grid-template-columns: 365px;
        margin: 30px 30px;
        grid-column-gap: 30px;
        margin: 0 !important;
    }

    .columnind{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
  }