@media (min-width: 481px) and (max-width: 1199px){
    .containercolumn{
        display: grid;
        margin: 30px 30px !important;
        grid-template-columns: 344px 344px !important;
        grid-column-gap: 25px !important;
        justify-content: center;
    }
  }

@media (max-width: 480px){
    .containercolumn{
        margin-top: 1em !important;
    }
  }