# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.yarn/cache/@babel-runtime-corejs3-npm-7.18.9-bf8545f42c-249158b660.zip
.yarn/cache/@babel-runtime-npm-7.18.9-28ca6b5f61-36dd736bab.zip
.yarn/cache/@eslint-eslintrc-npm-1.3.0-1f3c51be25-a1e734ad31.zip
.yarn/cache/@humanwhocodes-config-array-npm-0.10.4-8334b3c6a2-d480e5d57e.zip
.yarn/cache/@humanwhocodes-gitignore-to-minimatch-npm-1.0.2-247ae8a408-aba5c40c9e.zip
.yarn/cache/@humanwhocodes-object-schema-npm-1.2.1-eb622b5d0e-a824a1ec31.zip
.yarn/cache/@next-env-npm-12.2.4-041493a267-f09ae1ddeb.zip
.yarn/cache/@next-eslint-plugin-next-npm-12.2.4-a596585285-c8320cb62d.zip
.yarn/cache/@next-swc-darwin-x64-npm-12.2.4-747b36a6a5-8.zip
.yarn/cache/@nodelib-fs.scandir-npm-2.1.5-89c67370dd-a970d595bd.zip
.yarn/cache/@nodelib-fs.stat-npm-2.0.5-01f4dd3030-012480b5ca.zip
.yarn/cache/@nodelib-fs.walk-npm-1.2.8-b4a89da548-190c643f15.zip
.yarn/cache/@rushstack-eslint-patch-npm-1.1.4-3fdde25f35-597bc84e2f.zip
.yarn/cache/@swc-helpers-npm-0.4.3-5d4bea11d2-5c2f173e95.zip
.yarn/cache/@types-json5-npm-0.0.29-f63a7916bd-e60b153664.zip
.yarn/cache/@typescript-eslint-parser-npm-5.33.0-6cb105fd35-2617aba987.zip
.yarn/cache/@typescript-eslint-scope-manager-npm-5.33.0-0e00949895-b2cbea9abd.zip
.yarn/cache/@typescript-eslint-types-npm-5.33.0-1a64433062-8bbddda84c.zip
.yarn/cache/@typescript-eslint-typescript-estree-npm-5.33.0-fe84f49467-26f9005cdf.zip
.yarn/cache/@typescript-eslint-visitor-keys-npm-5.33.0-97dfab0f1f-d7e3653de6.zip
.yarn/cache/acorn-jsx-npm-5.3.2-d7594599ea-c3d3b2a89c.zip
.yarn/cache/acorn-npm-8.8.0-9ef399ab45-7270ca82b2.zip
.yarn/cache/aggregate-error-npm-3.1.0-415a406f4e-1101a33f21.zip
.yarn/cache/ajv-npm-6.12.6-4b5105e2b2-874972efe5.zip
.yarn/cache/ansi-escapes-npm-4.3.2-3ad173702f-93111c4218.zip
.yarn/cache/ansi-regex-npm-5.0.1-c963a48615-2aa4bb54ca.zip
.yarn/cache/ansi-regex-npm-6.0.1-8d663a607d-1ff8b7667c.zip
.yarn/cache/ansi-styles-npm-4.3.0-245c7d42c7-513b44c3b2.zip
.yarn/cache/ansi-styles-npm-6.1.0-4f6a594d04-7a7f8528c0.zip
.yarn/cache/argparse-npm-2.0.1-faff7999e6-83644b5649.zip
.yarn/cache/aria-query-npm-4.2.2-e0c4f1a309-38401a9a40.zip
.yarn/cache/array-includes-npm-3.1.5-6b8e152f4f-f6f24d8341.zip
.yarn/cache/array-union-npm-2.1.0-4e4852b221-5bee12395c.zip
.yarn/cache/array.prototype.flat-npm-1.3.0-6c5c4292bd-2a652b3e8d.zip
.yarn/cache/array.prototype.flatmap-npm-1.3.0-ae8419130d-818538f394.zip
.yarn/cache/ast-types-flow-npm-0.0.7-7d32a3abf5-a26dcc2182.zip
.yarn/cache/astral-regex-npm-2.0.0-f30d866aab-876231688c.zip
.yarn/cache/axe-core-npm-4.4.3-6a07ed8cf6-c3ea000d9a.zip
.yarn/cache/axobject-query-npm-2.2.0-6553738f52-96b8c7d807.zip
.yarn/cache/balanced-match-npm-1.0.2-a53c126459-9706c088a2.zip
.yarn/cache/brace-expansion-npm-1.1.11-fb95eb05ad-faf34a7bb0.zip
.yarn/cache/braces-npm-3.0.2-782240b28a-e2a8e769a8.zip
.yarn/cache/buffer-from-npm-1.1.2-03d2f20d7e-0448524a56.zip
.yarn/cache/bulma-npm-0.9.4-31b34939be-bc0ab8c203.zip
.yarn/cache/call-bind-npm-1.0.2-c957124861-f8e31de9d1.zip
.yarn/cache/callsites-npm-3.1.0-268f989910-072d17b6ab.zip
.yarn/cache/caniuse-lite-npm-1.0.30001375-86d3d3da54-6ed9cf7a3f.zip
.yarn/cache/chalk-npm-4.1.2-ba8b67ab80-fe75c9d5c7.zip
.yarn/cache/clean-stack-npm-2.2.0-a8ce435a5c-2ac8cd2b2f.zip
.yarn/cache/cli-cursor-npm-3.1.0-fee1e46b5e-2692784c6c.zip
.yarn/cache/cli-truncate-npm-2.1.0-72184d3467-bf1e4e6195.zip
.yarn/cache/cli-truncate-npm-3.1.0-654d2989ef-c3243e4197.zip
.yarn/cache/color-convert-npm-2.0.1-79730e935b-79e6bdb9fd.zip
.yarn/cache/color-name-npm-1.1.4-025792b0ea-b044585952.zip
.yarn/cache/colorette-npm-2.0.19-f73dfe6a4e-888cf5493f.zip
.yarn/cache/commander-npm-9.4.0-3cc611cdba-a322de584a.zip
.yarn/cache/concat-map-npm-0.0.1-85a921b7ee-902a9f5d89.zip
.yarn/cache/concat-stream-npm-1.6.2-2bee337060-1ef77032cb.zip
.yarn/cache/core-js-pure-npm-3.24.1-d44f029f92-4b8990a65c.zip
.yarn/cache/core-util-is-npm-1.0.3-ca74b76c90-9de8597363.zip
.yarn/cache/cross-spawn-npm-5.1.0-a3e220603e-726939c995.zip
.yarn/cache/cross-spawn-npm-7.0.3-e4ff3e65b3-671cc7c728.zip
.yarn/cache/damerau-levenshtein-npm-1.0.8-bda7311c69-d240b77575.zip
.yarn/cache/debug-npm-2.6.9-7d4cb597dc-d2f51589ca.zip
.yarn/cache/debug-npm-3.2.7-754e818c7a-b3d8c59407.zip
.yarn/cache/debug-npm-4.3.4-4513954577-3dbad3f94e.zip
.yarn/cache/deep-is-npm-0.1.4-88938b5a67-edb65dd0d7.zip
.yarn/cache/define-properties-npm-1.1.4-85ee575655-ce0aef3f9e.zip
.yarn/cache/dir-glob-npm-3.0.1-1aea628b1b-fa05e18324.zip
.yarn/cache/doctrine-npm-2.1.0-ac15d049b7-a45e277f7f.zip
.yarn/cache/doctrine-npm-3.0.0-c6f1615f04-fd7673ca77.zip
.yarn/cache/eastasianwidth-npm-0.2.0-c37eb16bd1-7d00d7cd8e.zip
.yarn/cache/emoji-regex-npm-8.0.0-213764015c-d4c5c39d5a.zip
.yarn/cache/emoji-regex-npm-9.2.2-e6fac8d058-8487182da7.zip
.yarn/cache/es-abstract-npm-1.20.1-83d41a4d88-28da27ae0e.zip
.yarn/cache/es-shim-unscopables-npm-1.0.0-06186593f1-83e95cadbb.zip
.yarn/cache/es-to-primitive-npm-1.2.1-b7a7eac6c5-4ead6671a2.zip
.yarn/cache/escape-string-regexp-npm-4.0.0-4b531d8d59-98b48897d9.zip
.yarn/cache/eslint-config-next-npm-12.2.4-df0ee0807a-17b5b52443.zip
.yarn/cache/eslint-config-prettier-npm-8.5.0-a1dd58b6d8-0d0f5c32e7.zip
.yarn/cache/eslint-import-resolver-node-npm-0.3.6-d9426786c6-6266733af1.zip
.yarn/cache/eslint-import-resolver-typescript-npm-2.7.1-2dfe313e23-1d81b657b1.zip
.yarn/cache/eslint-module-utils-npm-2.7.3-ccd32fe6fd-77048263f3.zip
.yarn/cache/eslint-npm-8.21.0-b57f835038-1d39ddb087.zip
.yarn/cache/eslint-plugin-import-npm-2.26.0-959fe14a01-0bf77ad803.zip
.yarn/cache/eslint-plugin-jsx-a11y-npm-6.6.1-02552a3ea2-baae7377f0.zip
.yarn/cache/eslint-plugin-prettier-npm-4.2.1-ba8e1240f1-b9e839d233.zip
.yarn/cache/eslint-plugin-react-hooks-npm-4.6.0-b429fac07f-23001801f1.zip
.yarn/cache/eslint-plugin-react-npm-7.30.1-5d85704bd1-553fb9ece6.zip
.yarn/cache/eslint-scope-npm-7.1.1-23935eb377-9f6e974ab2.zip
.yarn/cache/eslint-utils-npm-3.0.0-630b3a4013-0668fe02f5.zip
.yarn/cache/eslint-visitor-keys-npm-2.1.0-c31806b6b9-e3081d7dd2.zip
.yarn/cache/eslint-visitor-keys-npm-3.3.0-d329af7c8c-d59e68a7c5.zip
.yarn/cache/espree-npm-9.3.3-220189b4c1-33e8a36fc1.zip
.yarn/cache/esquery-npm-1.4.0-f39408b1a7-a0807e17ab.zip
.yarn/cache/esrecurse-npm-4.3.0-10b86a887a-ebc17b1a33.zip
.yarn/cache/estraverse-npm-5.3.0-03284f8f63-072780882d.zip
.yarn/cache/esutils-npm-2.0.3-f865beafd5-22b5b08f74.zip
.yarn/cache/execa-npm-6.1.0-be1d7f323b-1a4af79983.zip
.yarn/cache/fast-deep-equal-npm-3.1.3-790edcfcf5-e21a9d8d84.zip
.yarn/cache/fast-diff-npm-1.2.0-5ba4171bb6-1b5306eaa9.zip
.yarn/cache/fast-glob-npm-3.2.11-bc01135fef-f473105324.zip
.yarn/cache/fast-json-stable-stringify-npm-2.1.0-02e8905fda-b191531e36.zip
.yarn/cache/fast-levenshtein-npm-2.0.6-fcd74b8df5-92cfec0a8d.zip
.yarn/cache/fastq-npm-1.13.0-a45963881c-32cf15c29a.zip
.yarn/cache/file-entry-cache-npm-6.0.1-31965cf0af-f49701feaa.zip
.yarn/cache/fill-range-npm-7.0.1-b8b1817caa-cc283f4e65.zip
.yarn/cache/find-up-npm-2.1.0-9f6cb1765c-43284fe4da.zip
.yarn/cache/find-up-npm-5.0.0-e03e9b796d-07955e3573.zip
.yarn/cache/flat-cache-npm-3.0.4-ee77e5911e-4fdd10ecbc.zip
.yarn/cache/flatted-npm-3.2.6-a309e17eb3-33b87aa88d.zip
.yarn/cache/fs.realpath-npm-1.0.0-c8f05d8126-99ddea01a7.zip
.yarn/cache/function-bind-npm-1.1.1-b56b322ae9-b32fbaebb3.zip
.yarn/cache/function.prototype.name-npm-1.1.5-e776a642bb-acd21d733a.zip
.yarn/cache/functional-red-black-tree-npm-1.0.1-ccfe924dcd-ca6c170f37.zip
.yarn/cache/functions-have-names-npm-1.2.3-e5cf1e2208-c3f1f5ba20.zip
.yarn/cache/get-intrinsic-npm-1.1.2-89f421122b-252f45491f.zip
.yarn/cache/get-stream-npm-6.0.1-83e51a4642-e04ecece32.zip
.yarn/cache/get-symbol-description-npm-1.0.0-9c95a4bc1f-9ceff8fe96.zip
.yarn/cache/glob-npm-7.1.7-5698ad9c48-b61f48973b.zip
.yarn/cache/glob-npm-7.2.3-2d866d17a5-29452e97b3.zip
.yarn/cache/glob-parent-npm-5.1.2-021ab32634-f4f2bfe242.zip
.yarn/cache/glob-parent-npm-6.0.2-2cbef12738-c13ee97978.zip
.yarn/cache/globals-npm-13.17.0-a6039e7d26-fbaf4112e5.zip
.yarn/cache/globby-npm-11.1.0-bdcdf20c71-b4be8885e0.zip
.yarn/cache/grapheme-splitter-npm-1.0.4-648f2bf509-0c22ec54de.zip
.yarn/cache/has-bigints-npm-1.0.2-52732e614d-390e31e7be.zip
.yarn/cache/has-flag-npm-4.0.0-32af9f0536-261a135703.zip
.yarn/cache/has-npm-1.0.3-b7f00631c1-b9ad53d53b.zip
.yarn/cache/has-property-descriptors-npm-1.0.0-56289b918d-a6d3f0a266.zip
.yarn/cache/has-symbols-npm-1.0.3-1986bff2c4-a054c40c63.zip
.yarn/cache/has-tostringtag-npm-1.0.0-b1fcf3ab55-cc12eb28cb.zip
.yarn/cache/human-signals-npm-3.0.1-0c557ca74a-f252a7769c.zip
.yarn/cache/ignore-npm-5.2.0-fc4b58a4f3-6b1f926792.zip
.yarn/cache/import-fresh-npm-3.3.0-3e34265ca9-2cacfad06e.zip
.yarn/cache/imurmurhash-npm-0.1.4-610c5068a0-7cae75c8cd.zip
.yarn/cache/indent-string-npm-4.0.0-7b717435b2-824cfb9929.zip
.yarn/cache/inflight-npm-1.0.6-ccedb4b908-f4f76aa072.zip
.yarn/cache/inherits-npm-2.0.4-c66b3957a0-4a48a73384.zip
.yarn/cache/internal-slot-npm-1.0.3-9e05eea002-1944f92e98.zip
.yarn/cache/is-bigint-npm-1.0.4-31c2eecbc9-c56edfe09b.zip
.yarn/cache/is-boolean-object-npm-1.1.2-ecbd575e6a-c03b23dbaa.zip
.yarn/cache/is-callable-npm-1.2.4-03fc17459c-1a28d57dc4.zip
.yarn/cache/is-core-module-npm-2.10.0-6dff9310aa-0f3f77811f.zip
.yarn/cache/is-date-object-npm-1.0.5-88f3d08b5e-baa9077cdf.zip
.yarn/cache/is-extglob-npm-2.1.1-0870ea68b5-df033653d0.zip
.yarn/cache/is-fullwidth-code-point-npm-3.0.0-1ecf4ebee5-44a30c2945.zip
.yarn/cache/is-fullwidth-code-point-npm-4.0.0-848488b60d-8ae89bf505.zip
.yarn/cache/is-glob-npm-4.0.3-cb87bf1bdb-d381c1319f.zip
.yarn/cache/is-negative-zero-npm-2.0.2-0adac91f15-f3232194c4.zip
.yarn/cache/is-number-npm-7.0.0-060086935c-456ac6f8e0.zip
.yarn/cache/is-number-object-npm-1.0.7-539d0e274d-d1e8d01bb0.zip
.yarn/cache/is-regex-npm-1.1.4-cca193ef11-362399b335.zip
.yarn/cache/is-shared-array-buffer-npm-1.0.2-32e4181fcd-9508929cf1.zip
.yarn/cache/is-stream-npm-3.0.0-a77ac9a62e-172093fe99.zip
.yarn/cache/is-string-npm-1.0.7-9f7066daed-323b3d0462.zip
.yarn/cache/is-symbol-npm-1.0.4-eb9baac703-92805812ef.zip
.yarn/cache/is-weakref-npm-1.0.2-ff80e8c314-95bd9a57cd.zip
.yarn/cache/isarray-npm-1.0.0-db4f547720-f032df8e02.zip
.yarn/cache/isexe-npm-2.0.0-b58870bd2e-26bf6c5480.zip
.yarn/cache/js-tokens-npm-4.0.0-0ac852e9e2-8a95213a5a.zip
.yarn/cache/js-yaml-npm-4.1.0-3606f32312-c7830dfd45.zip
.yarn/cache/json-schema-traverse-npm-0.4.1-4759091693-7486074d3b.zip
.yarn/cache/json-stable-stringify-without-jsonify-npm-1.0.1-b65772b28b-cff44156dd.zip
.yarn/cache/json5-npm-1.0.1-647fc8794b-e76ea23dbb.zip
.yarn/cache/jsx-ast-utils-npm-3.3.3-3d3171e1e4-a2ed78cac4.zip
.yarn/cache/language-subtag-registry-npm-0.3.22-e9f79fe04e-8ab70a7e0e.zip
.yarn/cache/language-tags-npm-1.0.5-3a50e75c96-c81b5d8b9f.zip
.yarn/cache/levn-npm-0.4.1-d183b2d7bb-12c5021c85.zip
.yarn/cache/lilconfig-npm-2.0.5-ba2b9195a0-f7bb9e4265.zip
.yarn/cache/lint-staged-npm-13.0.3-5f9010e5ff-53d585007d.zip
.yarn/cache/listr2-npm-4.0.5-e9e44decc1-7af31851ab.zip
.yarn/cache/locate-path-npm-2.0.0-673d28b0ea-02d581edbb.zip
.yarn/cache/locate-path-npm-6.0.0-06a1e4c528-72eb661788.zip
.yarn/cache/lodash.merge-npm-4.6.2-77cb4416bf-ad580b4bdb.zip
.yarn/cache/log-update-npm-4.0.0-9d0554261c-ae2f85bbab.zip
.yarn/cache/loose-envify-npm-1.4.0-6307b72ccf-6517e24e0c.zip
.yarn/cache/lru-cache-npm-4.1.5-ede304cc43-4bb4b58a36.zip
.yarn/cache/lru-cache-npm-6.0.0-b4c8668fe1-f97f499f89.zip
.yarn/cache/merge-stream-npm-2.0.0-2ac83efea5-6fa4dcc8d8.zip
.yarn/cache/merge2-npm-1.4.1-a2507bd06c-7268db63ed.zip
.yarn/cache/micromatch-npm-4.0.5-cfab5d7669-02a17b671c.zip
.yarn/cache/mimic-fn-npm-2.1.0-4fbeb3abb4-d2421a3444.zip
.yarn/cache/mimic-fn-npm-4.0.0-feaeda79f7-995dcece15.zip
.yarn/cache/minimatch-npm-3.1.2-9405269906-c154e56640.zip
.yarn/cache/minimist-npm-1.2.6-f4cee4b4af-d15428cd1e.zip
.yarn/cache/ms-npm-2.0.0-9e1101a471-0e6a22b8b7.zip
.yarn/cache/ms-npm-2.1.2-ec0c1512ff-673cdb2c31.zip
.yarn/cache/ms-npm-2.1.3-81ff3cfac1-aa92de6080.zip
.yarn/cache/nanoid-npm-3.3.4-3d250377d6-2fddd6dee9.zip
.yarn/cache/natural-compare-npm-1.4.0-97b75b362d-23ad088b08.zip
.yarn/cache/next-npm-12.2.4-d735d5480a-31da1485d3.zip
.yarn/cache/normalize-path-npm-3.0.0-658ba7d77f-88eeb4da89.zip
.yarn/cache/npm-run-path-npm-5.1.0-79c0668d42-dc184eb5ec.zip
.yarn/cache/object-assign-npm-4.1.1-1004ad6dec-fcc6e4ea8c.zip
.yarn/cache/object-inspect-npm-1.12.2-f125a822c0-a534fc1b85.zip
.yarn/cache/object-keys-npm-1.1.1-1bf2f1be93-b363c5e764.zip
.yarn/cache/object.assign-npm-4.1.3-7c152434cf-fe87c8acd6.zip
.yarn/cache/object.entries-npm-1.1.5-7a8fcbc43e-d658696f74.zip
.yarn/cache/object.fromentries-npm-2.0.5-68ed942fa7-61a0b565de.zip
.yarn/cache/object.hasown-npm-1.1.1-66d3df7cd3-d8ed4907ce.zip
.yarn/cache/object.values-npm-1.1.5-f1de7f3742-0f17e99741.zip
.yarn/cache/once-npm-1.4.0-ccf03ef07a-cd0a885013.zip
.yarn/cache/onetime-npm-5.1.2-3ed148fa42-2478859ef8.zip
.yarn/cache/onetime-npm-6.0.0-4f3684e29a-0846ce78e4.zip
.yarn/cache/optionator-npm-0.9.1-577e397aae-dbc6fa0656.zip
.yarn/cache/os-shim-npm-0.1.3-03d492dbf1-2172be6da7.zip
.yarn/cache/p-limit-npm-1.3.0-fdb471d864-281c1c0b8c.zip
.yarn/cache/p-limit-npm-3.1.0-05d2ede37f-7c3690c4db.zip
.yarn/cache/p-locate-npm-2.0.0-3a2ee263dd-e2dceb9b49.zip
.yarn/cache/p-locate-npm-5.0.0-92cc7c7a3e-1623088f36.zip
.yarn/cache/p-map-npm-4.0.0-4677ae07c7-cb0ab21ec0.zip
.yarn/cache/p-try-npm-1.0.0-7373139e40-3b5303f77e.zip
.yarn/cache/parent-module-npm-1.0.1-1fae11b095-6ba8b25514.zip
.yarn/cache/path-exists-npm-3.0.0-e80371aa68-96e92643aa.zip
.yarn/cache/path-exists-npm-4.0.0-e9e4f63eb0-505807199d.zip
.yarn/cache/path-is-absolute-npm-1.0.1-31bc695ffd-060840f92c.zip
.yarn/cache/path-key-npm-3.1.1-0e66ea8321-55cd7a9dd4.zip
.yarn/cache/path-key-npm-4.0.0-2bce99f089-8e6c314ae6.zip
.yarn/cache/path-parse-npm-1.0.7-09564527b7-49abf3d811.zip
.yarn/cache/path-type-npm-4.0.0-10d47fc86a-5b1e2daa24.zip
.yarn/cache/picocolors-npm-1.0.0-d81e0b1927-a2e8092dd8.zip
.yarn/cache/picomatch-npm-2.3.1-c782cfd986-050c865ce8.zip
.yarn/cache/pidtree-npm-0.6.0-3d92e16117-8fbc073ede.zip
.yarn/cache/postcss-npm-8.4.14-c0d448b728-fe58766ff3.zip
.yarn/cache/pre-commit-npm-1.2.2-f30af83877-b604716647.zip
.yarn/cache/prelude-ls-npm-1.2.1-3e4d272a55-cd192ec0d0.zip
.yarn/cache/prettier-linter-helpers-npm-1.0.0-6925131a7e-00ce8011cf.zip
.yarn/cache/prettier-npm-2.7.1-d1f40f5e1a-55a4409182.zip
.yarn/cache/process-nextick-args-npm-2.0.1-b8d7971609-1d38588e52.zip
.yarn/cache/prop-types-npm-15.8.1-17c71ee7ee-c056d3f1c0.zip
.yarn/cache/pseudomap-npm-1.0.2-0d0e40fee0-856c0aae0f.zip
.yarn/cache/punycode-npm-2.1.1-26eb3e15cf-823bf443c6.zip
.yarn/cache/queue-microtask-npm-1.2.3-fcc98e4e2d-b676f8c040.zip
.yarn/cache/react-dom-npm-18.2.0-dd675bca1c-7d323310be.zip
.yarn/cache/react-is-npm-16.13.1-a9b9382b4f-f7a19ac349.zip
.yarn/cache/react-npm-18.2.0-1eae08fee2-88e38092da.zip
.yarn/cache/readable-stream-npm-2.3.7-77b22a9818-e4920cf754.zip
.yarn/cache/regenerator-runtime-npm-0.13.9-6d02340eec-65ed455fe5.zip
.yarn/cache/regexp.prototype.flags-npm-1.4.3-df1c08b65d-51228bae73.zip
.yarn/cache/regexpp-npm-3.2.0-2513f32cfc-a78dc5c715.zip
.yarn/cache/resolve-from-npm-4.0.0-f758ec21bf-f4ba0b8494.zip
.yarn/cache/resolve-npm-1.22.1-3980488690-07af5fc1e8.zip
.yarn/cache/resolve-npm-2.0.0-next.4-3d0bd8621e-c438ac9a65.zip
.yarn/cache/resolve-patch-46f9469d0d-5656f4d0be.zip
.yarn/cache/resolve-patch-bdbf6a2444-4bf9f4f8a4.zip
.yarn/cache/restore-cursor-npm-3.1.0-52c5a4c98f-f877dd8741.zip
.yarn/cache/reusify-npm-1.0.4-95ac4aec11-c3076ebcc2.zip
.yarn/cache/rfdc-npm-1.3.0-272f288ad8-fb2ba8512e.zip
.yarn/cache/rimraf-npm-3.0.2-2cb7dac69a-87f4164e39.zip
.yarn/cache/run-parallel-npm-1.2.0-3f47ff2034-cb4f97ad25.zip
.yarn/cache/rxjs-npm-7.5.6-8372315abc-fc05f01364.zip
.yarn/cache/safe-buffer-npm-5.1.2-c27fedf6c4-f2f1f7943c.zip
.yarn/cache/scheduler-npm-0.23.0-a379a6bc3b-d79192eeaa.zip
.yarn/cache/semver-npm-6.3.0-b3eace8bfd-1b26ecf6db.zip
.yarn/cache/semver-npm-7.3.7-3bfe704194-2fa3e87756.zip
.yarn/cache/shebang-command-npm-1.2.0-8990ba5d1d-9eed175030.zip
.yarn/cache/shebang-command-npm-2.0.0-eb2b01921d-6b52fe8727.zip
.yarn/cache/shebang-regex-npm-1.0.0-c3612b74e9-404c5a752c.zip
.yarn/cache/shebang-regex-npm-3.0.0-899a0cd65e-1a2bcae50d.zip
.yarn/cache/side-channel-npm-1.0.4-e1f38b9e06-351e41b947.zip
.yarn/cache/signal-exit-npm-3.0.7-bd270458a3-a2f098f247.zip
.yarn/cache/slash-npm-3.0.0-b87de2279a-94a93fff61.zip
.yarn/cache/slice-ansi-npm-3.0.0-d9999864af-5ec6d022d1.zip
.yarn/cache/slice-ansi-npm-4.0.0-6eeca1d10e-4a82d7f085.zip
.yarn/cache/slice-ansi-npm-5.0.0-8cd4f226df-7e600a2a55.zip
.yarn/cache/source-map-js-npm-1.0.2-ee4f9f9b30-c049a7fc4d.zip
.yarn/cache/spawn-sync-npm-1.0.15-ae144228c0-a280ff895b.zip
.yarn/cache/string-argv-npm-0.3.1-b4f6cd3d7b-efbd0289b5.zip
.yarn/cache/string-width-npm-4.2.3-2c27177bae-e52c10dc3f.zip
.yarn/cache/string-width-npm-5.1.2-bf60531341-7369deaa29.zip
.yarn/cache/string.prototype.matchall-npm-4.0.7-aaeb75dcaa-fc09f3ccbf.zip
.yarn/cache/string.prototype.trimend-npm-1.0.5-2b980efa37-d44f543833.zip
.yarn/cache/string.prototype.trimstart-npm-1.0.5-9e62187810-a4857c5399.zip
.yarn/cache/string_decoder-npm-1.1.1-e46a6c1353-9ab7e56f9d.zip
.yarn/cache/strip-ansi-npm-6.0.1-caddc7cb40-f3cd25890a.zip
.yarn/cache/strip-ansi-npm-7.0.1-668c121204-257f78fa43.zip
.yarn/cache/strip-bom-npm-3.0.0-71e8f81ff9-8d50ff27b7.zip
.yarn/cache/strip-final-newline-npm-3.0.0-7972cbec8b-23ee263adf.zip
.yarn/cache/strip-json-comments-npm-3.1.1-dcb2324823-492f73e272.zip
.yarn/cache/styled-jsx-npm-5.0.2-aff4f13ebf-86d55819eb.zip
.yarn/cache/supports-color-npm-7.2.0-606bfcf7da-3dda818de0.zip
.yarn/cache/supports-preserve-symlinks-flag-npm-1.0.0-f17c4d0028-53b1e247e6.zip
.yarn/cache/text-table-npm-0.2.0-d92a778b59-b6937a38c8.zip
.yarn/cache/through-npm-2.3.8-df5f72a16e-a38c3e0598.zip
.yarn/cache/to-regex-range-npm-5.0.1-f1e8263b00-f76fa01b3d.zip
.yarn/cache/tsconfig-paths-npm-3.14.1-17a815b5c5-8afa01c673.zip
.yarn/cache/tslib-npm-1.14.1-102499115e-dbe628ef87.zip
.yarn/cache/tslib-npm-2.4.0-9cb6dc5030-8c4aa6a3c5.zip
.yarn/cache/tsutils-npm-3.21.0-347e6636c5-1843f4c1b2.zip
.yarn/cache/type-check-npm-0.4.0-60565800ce-ec688ebfc9.zip
.yarn/cache/type-fest-npm-0.20.2-b36432617f-4fb3272df2.zip
.yarn/cache/type-fest-npm-0.21.3-5ff2a9c6fd-e6b32a3b38.zip
.yarn/cache/typedarray-npm-0.0.6-37638b2241-33b39f3d0e.zip
.yarn/cache/unbox-primitive-npm-1.0.2-cb56a05066-b7a1cf5862.zip
.yarn/cache/uri-js-npm-4.4.1-66d11cbcaf-7167432de6.zip
.yarn/cache/use-sync-external-store-npm-1.2.0-44f75d2564-5c639e0f8d.zip
.yarn/cache/util-deprecate-npm-1.0.2-e3fe1a219c-474acf1146.zip
.yarn/cache/v8-compile-cache-npm-2.3.0-961375f150-adb0a271ea.zip
.yarn/cache/which-boxed-primitive-npm-1.0.2-e214f9ae5a-53ce774c73.zip
.yarn/cache/which-npm-1.2.14-dd68f18c46-f69f2b75ac.zip
.yarn/cache/which-npm-1.3.1-f0ebb8bdd8-f2e185c624.zip
.yarn/cache/which-npm-2.0.2-320ddf72f7-1a5c563d3c.zip
.yarn/cache/word-wrap-npm-1.2.3-7fb15ab002-30b48f91fc.zip
.yarn/cache/wrap-ansi-npm-6.2.0-439a7246d8-6cd96a4101.zip
.yarn/cache/wrap-ansi-npm-7.0.0-ad6e1a0554-a790b846fd.zip
.yarn/cache/wrappy-npm-1.0.2-916de4d4b3-159da4805f.zip
.yarn/cache/yallist-npm-2.1.2-2e38c366a3-9ba9940920.zip
.yarn/cache/yallist-npm-4.0.0-b493d9e907-343617202a.zip
.yarn/cache/yaml-npm-2.1.1-e717f9b915-f48bb20991.zip
.yarn/cache/yocto-queue-npm-0.1.0-c6c9a7db29-f77b3d8d00.zip
.yarn/install-state.gz
.yarnrc.yml
.yarn/install-state.gz
package-lock.json
yarn.lock
.yarn/cache/yarn-npm-1.22.19-6ba13b96dc-b43d2cc5fe.zip
