.container{
    background-image: url('/assets/imagenAbajo2.svg');
    width: 100%;
    background-position: 10% 55%;
    background-size: contain;
    background-repeat: no-repeat;
}

.text{
    color: #E77D2D;
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
    width: 95%;
    font-family: Montserrat;
    line-height: 60px;
}

/*hola*/