.footercom{
    background-color: black;
    padding: 0.5rem;
    box-shadow: 0 4px 10px 1px whitesmoke;
}

.footercontent{
    background-color: black;
}

.footera:focus-within{
    background: none !important;
}

.footerbutton{
    border: none;
    background-color: #6f2977;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
    border-radius: 30px;
}

.imgContainer{
    max-width: 75%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}